<!DOCTYPE html>
<html>
  <head>
    <title>
    <%=title %>
    </title>
    <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-default">
  	  <div class="container-fluid">
  	    <div class="navbar-header">
  	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
  	        <span class="sr-only">Toggle navigation</span>
  	        <span class="icon-bar"></span>
  	        <span class="icon-bar"></span>
  	        <span class="icon-bar"></span>
  	      </button>
  	      <a class="navbar-brand" href="/">MEAN</a>
  	    </div>

  	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  	      <ul class="nav navbar-nav navbar-right">

  	        <% if ( fullName ) { %>
  	        <li class="dropdown">
  	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%=fullName%> <span class="caret"></span></a>
  	          <ul class="dropdown-menu">
  	            <li><a href="/user/<%= username %>"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Profile</a></li>
  	            <li role="separator" class="divider"></li>
  	            <li><a href="/signout"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Sign out</a></li>
  	          </ul>
  	        </li>
  	        <% } else { %>
  	          <li><a href="/signin">Sign in</a></li>
  	          <li><a href="/signup">Sign up</a></li>
  	        <% } %>
  	      </ul>
  	    </div>
  	  </div>
  	</nav>

    <div class="container">
      <div class="row">
      <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
      </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >


          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title"><%=fullNameInfo%></h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="/img/user.png" class="img-circle img-responsive"> </div>
                <div class=" col-md-9 col-lg-9 ">
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>First name</td>
                        <td><%=firstNameInfo%></td>
                      </tr>
                      <tr>
                        <td>Last name</td>
                        <td><%=lastNameInfo%></td>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td><a href="mailto:<%=emailInfo%>"><%=emailInfo%></a></td>
                      </tr>
                        <td>Username</td>
                        <td><%=usernameInfo%></td>
                      </tr>
                    </tr>
                      <td>Role</td>
                      <td><%=roleInfo%></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="panel-footer">
              <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
              <span class="pull-right">
                <a href="#" data-original-title="Edit info" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                <a data-original-title="Delete profile" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>


    <script type="text/javascript" src="/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
         $('[data-toggle="tooltip"]').tooltip();
      });
    </script>
  </body>
</html>
